body{
  background: linear-gradient(45deg, #4c4932, #1b1a0f, #383216); 
  color: white; 
  font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: space-between; 
   align-items: center;
   margin: 0;  
   padding: 0;
   background-size: cover; 
   transition: background-image 0.5s ease;
   padding-bottom: 0px;
   flex-direction: column;
   overflow-y: auto;
}


.nav-menu {
  flex: 0 0 auto;
  background-color: transparent;
  padding: 16px;
  text-align: center;
  z-index: 2;
  position: relative;
  right: 1.5vh;
  bottom: 0.2vh;
}
.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu li {
  margin: 5px;
  margin-left: 60px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.titulo {
  font-size: 14vh; 
  margin: 2rem 0;
  position: relative;
  bottom: 9.5vh;
}

.logocard{
  width: 15vh;
  position: relative;
  top: 10vh;
  left: 61vh;
  transform: rotate(25deg);
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin: 0 auto; 
}


.content {
  flex: 1; 
  flex-grow: 1;
  padding: 20px; 
  min-height: 100vh;
  margin-bottom: 30vh;
}

a {
  text-decoration: none;
}

.cssbuttons-io-button {
  background: #bda610;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #d7c76b;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  position: relative;
  right: 60vh;
  bottom: 9vh;
}
.cssbuttons-io-button2 {
  background: #bda610;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #d7c76b;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  position: relative;
  right: 21vh;
  bottom: 18.6vh;}
.cssbuttons-io-button3 {
  background: #bda610;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #d7c76b;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  position: relative;
  left: 18vh;
  bottom:28.3vh;
}
.cssbuttons-io-button4 {
  background: #bda610;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #d7c76b;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  position: relative;
  left: 58vh;
  bottom: 37.8vh;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #d8c231;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #cdb51a;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
.cssbuttons-io-button2 .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #d8c231;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button2:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button2 .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #cdb51a;
}

.cssbuttons-io-button2:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button2:active .icon {
  transform: scale(0.95);
}
.cssbuttons-io-button3 .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #d8c231;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button3:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button3 .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #cdb51a;
}

.cssbuttons-io-button3:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button3:active .icon {
  transform: scale(0.95);
}
.cssbuttons-io-button4 .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #d8c231;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button4:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button4 .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #cdb51a;
}

.cssbuttons-io-button4:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button4:active .icon {
  transform: scale(0.95);
}